Repository JacquesN16/tenant-app-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup-lib, install-backend, install-frontend, test-backend, test-frontend, build-backend, build-frontend

.gitlab-ci.yml:

stages:
  - setup
  - install
  - test
  - build

variables:
  NODE_VERSION: '18'

default:
  image: node:${NODE_VERSION}

setup-lib:
  stage: setup
  script:
    - cd lib
    - npm install
    - npm run build
  cache:
    key:
      files:
        - lib/package-lock.json
    paths:
      - lib/node_modules/
  artifacts:
    paths:
      - lib/dist/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

install-backend:
  stage: install
  script:
    - cd backend
    - npm install
  dependencies:
    - setup-lib
  needs: ["setup-lib"]
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules/
  artifacts:
    paths:
      - backend/node_modules/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

install-frontend:
  stage: install
  script:
    - cd frontend
    - npm install
  dependencies:
    - setup-lib
  needs: ["setup-lib"]
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules/
  artifacts:
    paths:
      - frontend/node_modules/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

test-backend:
  stage: test
  script:
    - cd backend
    - npm test
  dependencies:
    - install-backend
  needs: ["install-backend"]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

test-frontend:
  stage: test
  image: node:20
  script:
    - cd frontend
    - npx playwright install --with-deps
    - npm run test:e2e
  dependencies:
    - install-frontend
  needs: ["install-frontend"]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

build-backend:
  stage: build
  script:
    - cd backend
    - npm run build
  dependencies:
    - install-backend
  needs: ["install-backend"]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - backend/**/*
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

build-frontend:
  stage: build
  script:
    - cd frontend
    - npm run build
  dependencies:
    - install-frontend
  needs: ["install-frontend"]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - frontend/**/*
        - lib/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'

add tenant detail page
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SetTenantEndDateModal.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/date-picker.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/i18n.ts
  frontend/src/main.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/TenantDetailPage.tsx
  frontend/src/pages/UnitDetailPage.tsx
Due: install-frontend, test-frontend, build-frontend

apply FullPageLoading
  frontend/src/App.tsx
  frontend/src/components/ui/FullPageLoading.tsx
  frontend/src/components/ui/dashboard-icons.tsx
  frontend/src/pages/AccountSettingsPage.tsx
  frontend/src/pages/BillsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/PropertyDetailPage.tsx
  frontend/src/pages/TenantDetailPage.tsx
  frontend/src/pages/UnitDetailPage.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/stores/loadingStore.ts
Due: install-frontend, test-frontend, build-frontend

use Fullpage reload
  frontend/package.json
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/header.tsx
  frontend/src/components/ui/stat-card.tsx
  frontend/src/components/ui/stats-grid.tsx
  frontend/src/components/unit/StatusOverview.tsx
  frontend/src/components/unit/TenantInformation.tsx
  frontend/src/components/unit/UnitDetails.tsx
  frontend/src/components/unit/UnitErrorState.tsx
  frontend/src/components/unit/UnitNotFound.tsx
  frontend/src/pages/AccountSettingsPage.tsx
  frontend/src/pages/BillsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/PropertiesPage.tsx
  frontend/src/pages/PropertyDetailPage.tsx
  frontend/src/pages/TenantDetailPage.tsx
  frontend/src/pages/UnitDetailPage.tsx
Due: install-frontend, test-frontend, build-frontend

redesign
  frontend/src/components/PropertyCard.tsx
Due: install-frontend, test-frontend, build-frontend

add preference to user
  backend/drizzle/0002_mixed_wendell_rand.sql
  backend/drizzle/meta/0002_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/app/bill/bill.controller.ts
  backend/src/app/dashboard/dashboard.module.ts
  backend/src/app/dashboard/dashboard.service.ts
  backend/src/app/tenant/tenant.service.ts
  backend/src/app/user/user.controller.ts
  backend/src/app/user/user.dto.ts
  backend/src/app/user/user.service.ts
  backend/src/database/schema.ts
  frontend/src/api/user.ts
  frontend/src/components/settings/Preferences.tsx
  frontend/src/i18n.ts
  frontend/src/pages/AccountSettingsPage.tsx
Due: install-backend, install-frontend, test-backend, test-frontend, build-backend, build-frontend

fix type
  .claude/settings.local.json
  frontend/src/components/CreateTenantModal.tsx
  frontend/src/components/settings/AccountErrorState.tsx
  frontend/src/components/settings/AddressInformation.tsx
  frontend/src/components/settings/PersonalInformation.tsx
  frontend/src/components/ui/navigation-data.tsx
  frontend/src/components/ui/user-section.tsx
  frontend/src/hooks/useUser.ts
  lib/src/user.ts
Due: setup-lib, install-backend, install-frontend, test-backend, test-frontend, build-backend, build-frontend
